:host {
  position: relative;
}

.background {
  position: absolute;
  top: 0;
  z-index: -1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;
  width: 100vw;
}

.figure01,
.figure02 {
  opacity: 0.2;
}

.figure01 {
  width: 40vh;
  height: 20vh;

  background-color: var(--color-dark-blue);

  border-radius: 20vh 20vh 0 0;
}

.figure02 {
  width: 0;
  height: 0;
  border-right: 25vh solid var(--color-black);
  border-top: 25vh solid var(--color-yellow);
  border-left: 25vh solid var(--color-red);
  border-bottom: 25vh solid var(--color-red);
  border-radius: 100%;

  transform: rotate(45deg);
}
