:host {
  --input-font-size: max(1rem, 16px);

  --button-font-size: max(1rem, 16px);
  --button-font-weight: bold;

  position: fixed;
  bottom: 0;

  display: flex;

  width: 100%;
}

input {
  flex-grow: 1;

  background-color: var(--color-beige);
  color: var(--color-black);

  border: 0;
  padding: calc(var(--small-size) * 3);

  font-size: var(--input-font-size);
}

button {
  border: 0;
  padding: calc(var(--small-size) * 3) calc(var(--small-size) * 6);

  background-color: var(--color-blue);

  font-size: var(--button-font-size);
  line-height: 1;
  font-weight: var(--button-font-weight);
  letter-spacing: 0.1em;
}

.hide {
  display: none;
}

.show {
  display: block;
}
